body{
    width: 100vw;
    height: 100vh;
    margin:0px;
}
header{
    background-image: url(./images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    height: 650px;
    background-size: 375px 650px;
}
.menu{
    display: flex;
    align-items: center;
    padding: 40px 24px 0px 24px;
    justify-content: space-between;
}
.deliver{
    width: 327px;
    height: 196px;
    border: 2px solid #FFFFFF;
    margin: 153px 24px 0px 24px;
    
}
.immersive{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 38px;
text-transform: uppercase;
color: #FFFFFF;
display: block;
width: 10px;
padding: 26px 24px 0px 24px;
}

